<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="" th:href="@{/css/estilos.css}" rel="stylesheet"/>
                <link style="stylesheet" href="https://kit.fontawesome.com/b2b1834288.js">
                    </head>
                    <body>
                        <header th:fragment="header" class="header">
                             <h1>CAV</h1>
                        </header>
                        <footer th:fragment="footer" class="footer">
                            <p>Derechos reservados por la Asociación Fidelitas</p>
                        </footer>
                    </body>
                    </html>

