<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <aside th:fragment="aside">
        <ul  id = "listaAside">
                    <li>
                        <p><a th:href="@{/estudianteAdm/listado}">Gestión de estudiantes</a></p>
                    </li>
                    <li>
                        <p><a th:href="@{/profesorAdm/listado}">Gestión de profesores</a></p>
                    </li>
                    <li>
                        <p><a th:href="@{/cursosAdm/listado}">Gestión de cursos</p></a>
                    </li>
                    <li>
                        <p><a th:href="@{/certificacion}">Certificaciones</a></p>
                    </li>
                    <li>
                        <p>Mi cuenta</a></p>
                    </li>
                </ul>
            </aside>
        
        <nav th:fragment="navAdmin">
            <ul id = "listaNav">
                    <li>
                        <a th:href="@{/cambioCuenta}"><input type="button" value="Cambio de cuenta" class="button"></a>
                    </li>
                    <li>
                        <a th:href="@{/index}"><input type="button" value="Cerrar sesión" class="button"></a></input>
                    </li>
                </ul>
        </nav>
    </body>
</html>
