<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>

        <!---Aside de profesores--->
        <aside th:fragment="asideProfesor">
            <ul  id = "listaAside">
                <li>
                    <p><a th:href="@{/profesorAdm/nuevo}">Crear profesor</a></p>
                </li>
                <li>
                    <p><a th:href="@{/estudianteAdm/listado}">Gestión de estudiantes</a></p>
                </li>
                <li>
                    <p><a th:href="@{/profesorAdm/listado}">Gestión de profesores</a></p>
                </li>
                <li>
                    <p><a th:href="@{/cursosAdm/listado}">Gestión de cursos</p></a>
                </li>
                <li>
                    <p><a th:href="@{/bienvenidoAdmin}">Regresar</p></a>
                </li>
            </ul>
        </aside>


        <!--Listado de profesores-->
        <section th:fragment="listadoProfesor">
            <div th if="${profesores != null and !profesores.empty}">
                <table class ="tablaCrud">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Primer apellido</th>
                            <th>Segundo apellido</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Configuración</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="profesor : ${profesores}">
                            <td th:text="${profesor.nombre}"></td>
                            <td th:text="${profesor.apellidoA}"></td>
                            <td th:text="${profesor.apellidoB}"></td>
                            <td th:text="${profesor.telefono}"></td>
                            <td th:text="${profesor.correo}"></td>
                            <td th:text="${profesor.clave}"></td>
                            <td class ="opcionTablaEditar"><a class ="textLink" th:href="@{/profesorAdm/modificar/} + ${profesor.id_profesor}">Editar</a></td>
                            <td class = "opcionTablaEliminar"><a class ="textLink" th:href="@{/profesorAdm/eliminar/} + ${profesor.id_profesor}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${profesores == null or profesores.empty}">
                No hay profesores en el sistema
            </div>
        </section>

        <!--Crear profesor-->
        <section th:fragment="nuevoProfesor">
            <form th:action = "@{/profesorAdm/guardar}"
                  method="post"
                  th:objet="${profesor}">
                <label for="nombre"> Nombre:</label>
                <input type="text" name="nombre" th:field="*{profesor.nombre}"/>
                <br>
                <label for="apellidoA"> Primer apellido:</label>
                <input type="text" name="apellidoA" th:field="*{profesor.apellidoA}"/>
                <br>
                <label for="apellidoB"> Segundo apellido:</label>
                <input type="text" name="apellidoB" th:field="*{profesor.apellidoB}"/>
                <br>
                <label for="telefono"> Telefono:</label>
                <input type="text" name="telefono" th:field="*{profesor.telefono}"/>
                <br>
                <label for="correo">Correo electrónico:</label>
                <input type="text" name="correo" th:field="*{profesor.correo}"/>
                <br>
                <label for="clave">Contraseña:</label>
                <input type="text" name="clave" th:field="*{profesor.clave}"/>
                <br>
                <input type="submit" name="guardar" value="Guardar información"/>
            </form>
        </section>

        <!--Modificar profesor-->
        <section th:fragment="modificarProfesor" class="sectionCompleta">
            <form th:action = "@{/profesorAdm/guardar}"
                  method="post"
                  th:objet="${profesor}"
                  style="text-align:center">
                <input type="hidden" name="id_profesor" th:field="*{profesor.id_profesor}"/>
                <label for="especializacion"> Especialización:</label>
                <div class="inputFormulario">
                <input type="text" name="nombre" th:field="*{profesor.id_especializacion}"/>
                <br>
                </div>
                <label for="nombre"> Nombre:</label>
                <div class="inputFormulario">
                <input type="text" name="nombre" th:field="*{profesor.nombre}"/>
                <br>
                </div>
                <label for="apellidoA"> Primer apellido:</label>
                <div class="inputFormulario">
                <input type="text" name="apellidoA" th:field="*{profesor.apellidoA}"/>
                <br>
                </div>
                <label for="apellidoB"> Segundo apellido:</label>
                <div class="inputFormulario">
                <input type="text" name="apellidoB" th:field="*{profesor.apellidoB}"/>
                <br>
                </div>
                <label for="telefono"> Telefono:</label>
                <div class="inputFormulario">
                <input type="text" name="telefono" th:field="*{profesor.telefono}"/>
                <br>
                    </div>
                <label for="correo">Correo electrónico:</label>
                <div class="inputFormulario">
                <input type="text" name="correo" th:field="*{profesor.correo}"/>
                <br>
                    </div>
                <label for="clave">Contraseña:</label>
                <div class="inputFormulario">
                <input type="text" name="clave" th:field="*{profesor.clave}"/>
                <br>
                    </div>
                <input type="submit" name="guardar" value="Guardar información" class="button" style="width:200px"/>
            </form>
        </section>

    </body>
</html>
