<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <div id = cuerpo>
            <header>
                <h1>CAV</h1>
            </header>
            <nav>
                <ul id = "listaNav">
                    <li>
                        <a th:href="@{/profesorAdm/listado}"><input type="button" value="Regresar" class="button"></a>
                    </li>
                </ul>
            </nav>         
            <section id="nuevoProfesor" th:replace="~{profesorAdm/fragmentos :: modificarProfesor}"/>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>