<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <div id = contenidoTotal>
            <header th:replace="~{layout/plantilla :: header}"/>
            <nav th:replace="~{layout/plantilla :: navEstudiante}"/>
            <aside th:replace="~{estudiante/fragmentos :: asideBienvenidoEst}"/>
            <section th:replace="~{estudiante/fragmentos :: sectionBienvenidoEst}"/>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
