<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="" th:href="@{/css/estilos.css}" rel="stylesheet"/>
                <link style="stylesheet" href="https://kit.fontawesome.com/b2b1834288.js">


                    </head>
                    <body>
                        <div id = cuerpo>
                            <header>
                                <h1>CAV</h1>
                            </header>
                            <nav>
                                <ul id = "listaNav">
                                    <li>
                                        <a th:href="@{/index}"><input type="button" value="Inicio" class="button"></a>
                                    </li>
                                    <li>
                                        <a th:href="@{/cambioCuenta}"><input type="button" value="Iniciar sesión" class="button"></a>
                                        <li>
                                            <a th:href="@{/extra}"><input type="button" value="Video" class="button"></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/register}"><input type="button" value="Crear cuenta" class="button"></a>
                                        </li>
                                </ul>
                            </nav> 
                            <aside>
                                <ul id = "listaAside">
                                    <li>
                                        <p><a th:href="@{areaIngenierias}">Area de ingenierias</a></p>
                                    </li>
                                    <li>
                                        <p><a th:href="@{areaSalud}">Area de salud </a></p>
                                    </li>
                                    <li>
                                        <p><a th:href="@{areaSocial}">Area social </a></p>
                                    </li>
                                    <li>
                                        <p><a th:href="@{areaIt}">Area de IT</a></p>
                                    </li>
                                </ul>
                            </aside>
                            <section class = "seccionCurso">
                                <h2>Area de Salud </h2>
                                <h3> Medicina: Es la carrera de Salud por excelencia, donde adquiriras conocimientos 
                                    para diagnosticar y tratar pacientes con diferentes enfermedades y padecimientos.</h3>
                                <div >

                                    <img src="https://www.ulatina.ac.cr/sites/default/files/inline-images/01-Blog-UL-17.png" class = "imagenesGenericas" >
                                </div>


                                <h3> Ciencias de la Salud: aquí aprenderás diversos temas relacionados con la Salud 
                                    que te permitirán trabajar cerca de otros profesionales de la asistencia sanitaria.</h3>
                                <div>

                                    <img src="https://www.aauniv.com/s/blog/wp-content/uploads/2022/03/ciencias-de-la-salud-funcion.jpg"   class = "imagenesGenericas" >
                                </div>

                                <h3>Enfermeria: va de la mano con la Medicina, esta carrera te preparara para cuidar 
                                    y atender pacientes, administrando los tratamientos prescritos por el medico.</h3>
                                <div>
                                    <img src="http://grinama.com/wp-content/uploads/2021/08/373442-PBC7VB-714v2-scaled.jpg"  class = "imagenesGenericas" >
                                </div>

                            </section>

                        </div>
                        <footer>
                        </footer>
                    </body>
                    </html>
