<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="" th:href="@{/css/estilos.css}" rel="stylesheet"/>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <div id = "contenedorTotal">
                        <header>
                            <h1>CAV(Conocimiento de Acceso Virtual)</h1>
                        </header>
                        <nav>
                            <ul id = "listaNav">
                                <li>
                                    <a th:href="@{/index}"><input type="button" value="Inicio" class="button"></a>
                                </li>
                                <li>
                                    <a th:href="@{/cambioCuenta}"><input type="button" value="Iniciar sesión" class="button"></a>
                                    <li>
                                        <a th:href="@{/extra}"><input type="button" value="Video" class="button"></a>
                                    </li>
                                    <li>
                                        <a th:href="@{/register}"><input type="button" value="Crear cuenta" class="button"></a>
                                    </li>
                            </ul>
                        </nav>  
                        <section class = "seccionCurso">

                            <h2>Areas de IT</h2>
                            <h3>Videojuegos y Seguridad Informática: Costa Rica está en medio de una corriente de desarrollo de videojuegos, lo que hace que los estudiantes que se especialicen en esta área
                                tengan un amplio mercado laboral. Además, lo complementarán con la Seguridad Informática,
                                lo que asegura que desarrollarán juegos aptos para menores de edad que están en línea.</h3>
                            <div>
                                <img src="https://s3.us-east-1.amazonaws.com/nidocolectivo-s3-production/blog/seguridad-inform%C3%A1tica/Deber%C3%ADas-utilizar-la-seguridad-inform%C3%A1tica-en-tu-marca-para-la-creaci%C3%B3n-de-contenidos.jpg" class = "imagenesGenericas">

                            </div>

                            <h3>Bases de Datos: En el mundo se produce mucha información en la web, la cual es leíble y analizable. Esta concentración le dará al estudiante 
                                las habilidades necesarias para tomar estos datos, almacenar y tratar grandes volúmenes de información
                                y con ellos analizarlos y potenciar a la empresa en donde se desarrolle.</h3>
                            <div>
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtlC2SpyH5zbvZ_XGzMy3T0gNFOAB4hY9mZw&usqp=CAU" class = "imagenesGenericas">

                            </div>

                            <h3>Infraestructura: Es la concentración “más física” ya que todas las tendencias actuales no podrían trabajar si no existieran equipos que soporten los datos de la nube. 
                                Los estudiantes podrán gestionar e instalar equipos potentes para las empresas que así lo necesiten.</h3>
                            <div>
                                <img src="https://3.bp.blogspot.com/_L4CYxHzwFbw/TPnaamKRrPI/AAAAAAAAAd0/CJIVvDsbk0U/s1600/Dise%25C3%25B1o%2By%2Bconstruccion%2Bde%2Bredes.jpg" class = "imagenesGenericas">

                            </div>



                            <h3>Ciencias Empresariales: Con esta concentración los estudiantes podrán obtener los fundamentos contables para una buena administración
                                y puedan emprender su empresa con grandes habilidades y mayor seguridad.</h3>
                            <div>
                                <img src="https://b2325059.smushcdn.com/2325059/wp-content/uploads/2018/01/tecnologia-big-data-finanzas-empresariales_31965-1241.jpg?lossy=1&strip=1&webp=1" class = "imagenesGenericas">
                            </div>

                        </section>
                        <aside>
                            <ul id = "listaAside">
                                <li>
                                    <p><a th:href="@{areaIngenierias}">Area de ingenierias</a></p>
                                </li>
                                <li>
                                    <p><a th:href="@{areaSalud}">Area de salud </a></p>
                                </li>
                                <li>
                                    <p><a th:href="@{areaSocial}">Area social </a></p>
                                </li>
                                <li>
                                    <p><a th:href="@{areaIt}">Area de IT</a></p>
                                </li>
                            </ul>
                        </aside>
                        <footer>
                        </footer>
                    </div>
                </body>
                </html>
