<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <head>
            <title>Inicio</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link href="" th:href="@{/css/estilos.css}" rel="stylesheet"/>
                    <link style="stylesheet" href="https://kit.fontawesome.com/b2b1834288.js">
                        </head>
                        <body>
                            <div id = cuerpo>
                                <header>
                                    <h1>CAV</h1>
                                </header>
                                <nav>
                                <ul id = "listaNav">
                                    <li>
                                        <a th:href="@{/bienvenidoAdmin}"><input type="button" value="Inicio" class="button"></a>
                                    </li>
                                    <li>
                                        <a th:href="@{/cambioCuenta}"><input type="button" value="Cambio de cuenta" class="button"></a>
                                    </li>
                                        <li>
                                            <a th:href="@{/index}"><input type="button" value="Cerrar sesión" class="button"></a></input>
                                        </li>
                                </ul>
                            </nav> 
                            <aside th:replace="layout/plantillaAdmin :: aside"/>
                                <section>
                                    <h1>Bienvenido Admin</h1>
                                    <img src="https://www.pngmart.com/files/21/Admin-Profile-PNG.png"width="600" height="600">

                                </section>
                            </div>
                            <footer>
                            </footer>
                        </body>
                        </html>
