<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="" th:href="@{/css/estilos.css}" rel="stylesheet"/>
                <link style="stylesheet" href="https://kit.fontawesome.com/b2b1834288.js">
                    <link rel="styelsheet" href="styles.css">
                        </head>
                        <body>
                            <div id = cuerpo>
                                <header>
                                    <h1>CAV</h1>
                                </header>
                                <nav>
                                    <ul id = "listaNav">
                                        <li>
                                            <a th:href="@{/bienvenidoAdmin}"><input type="button" value="Inicio" class="button"></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/cambioCuenta}"><input type="button" value="Cambio de cuenta" class="button"></a>
                                            <li>
                                                <a th:href="@{/index}"><input type="button" value="Cerrar sesión" class="button"></a></input>
                                            </li>
                                    </ul>
                                </nav> 
                                <aside>
                                    <ul id = "listaAside">
                                        <li>
                                            <p><a th:href="@{/gestionEstudiantes}">Gestión de estudiantes</a></p>
                                        </li>
                                        <li>
                                            <p><a th:href="@{/gestionProfesores}">Gestión de profesores</a></p>
                                        </li>
                                        <li>
                                            <p><a th:href="@{/gestionCursos}">Gestión de cursos</p></a>
                                        </li>
                                        <li>
                                            <p><a th:href="@{/certificacion}">Certificaciones</a></p>
                                        </li>
                                        <li>
                                            <p>Mi cuenta</a></p>
                                        </li>
                                    </ul>
                                </aside>
                                <section>
                                    <h1>Generar Certificación</h1>
                                    <h2>Ingrese los siguientes datos para generar la certificación:</h2>
                                    <div class="contenedor">
                                        <div class="input-contenedor">
                                            <i class="fa-solid fa-user icon"></i>
                                            <input type="text"  placeholder="Nombre completo">

                                        </div>


                                        <div class="input-contenedor">
                                            <i class="fa-solid fa-envelope icon"></i>
                                            <input type="text"  placeholder="Correo electronico">

                                        </div>       

                                        <div class="input-contenedor">
                                            <i class="fa-solid fa-key icon"></i>
                                            <input type="date"  placeholder="Fecha">

                                        </div>
                                        <input type="submit" value="Generar Certificación" class="button" id="buttonCertificacion">

                                            </section>
                                    </div>
                                    <footer>
                                    </footer>
                                    </body>
                                    </html>

