<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <div id = cuerpo>
            <header th:replace="~{layout/plantilla :: header}"/>
            <nav th:replace="~{layout/plantilla :: navIndex}"/>
            <aside>
                <ul id = "listaAside">
                    <li>
                        <a th:href="@{/areas/areaIngenierias}" class="textLink"><p th:text="#{index.aIngenierias}">Area de ingenierias</p></a>
                    </li>
                    <li>
                        <a th:href="@{/areas/areaSalud}" class="textLink"><p th:text="#{index.aSalud}">Area de salud</p></a>
                    </li>
                    <li>
                        <a th:href="@{/areas/areaSocial}" class="textLink"><p th:text="#{index.aSocial}">Area social</p></a>
                    </li>
                    <li>
                        <a th:href="@{/areas/areaIt}" class="textLink"><p th:text="#{index.aIT}">Area de IT</p></a>
                    </li>
                </ul>
            </aside>

            <section>
                <div class="contenedorSeccionS">
                    <h2 th:text="#{index.nosotrosTitular}">Sobre nosotros</h2>
                    <p th:text="#{index.nosotros}">
                        CAV(Conocimiento de acceso) es una plataforma educativa virtual que se compromete a proveer una metodologia alternativa al<br>
                            aprendizaje de manera que sea accesible desde cualquier lugar a cualquier momento y que este en consideración de las condiciones de usuario<br>
                                que le impidan presentarse de manera presencial en instalaciones universitarias. La plataforma esta diseñada como una biblioteca de cursos<br>
                                    educativos que los usuarios podran buscar y adquirir de manera digital, cada uno de ellos contando con su profesor y asignaciones respectivas. <br>
                                        </p>

                                        <h2 th:text="#{index.ofertaTitular}">Nuestra oferta</h2>
                                        <p th:text="#{index.oferta}">
                                            Dentro de nuestra plataforma educativa, nos disponemos a ofrecer a nuestro usuarios un amplio catalogo de cursos disponibles para cualquier persona<br>
                                                que desee llevar sus estudios de manera alternativa a la presencialidad.
                                                </section>

                                                </div>
                                                <footer th:replace="~{layout/plantilla :: footer}"/>
                                                </body>
                                                </html>
